/* -----------------------------
   colors used
   -----------------------------
    #000000
    #020203
    #4d84c4
    #a51c30
    #f5f5f8
    #ebebeb
    #ffffff
    
    You can see the color palette (minus the white and black) at: 
    https://coolors.co/a51c30-4d84c4-020203-ebebeb-f5f5f8
*/

:root {
    /* Colors of Star Trek - The Next Generation */
    --tng-gold: #FFD700;
    --tng-blue: #1E90FF;
    --tng-red: #8B0000;
}


/* -----------------------------
   fonts used
   -----------------------------
Note that Roboto and "Roboto Condensed" are available from the linked fonts already in the HTML

font-family stack for most things:
    Roboto, Arial, sans-serif;

font-family stack for 'condensed' elements, such as hX headings, header navigation, and links in the 'Explore'  section:
    'Okuda', Arial, sans-serif;
   -----------------------------  */

body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* -----------------------------
   Styles for header
   ----------------------------- */

header h2 {
    color: #FFFFFF;
    background-color: var(--tng-red);
    font-family: 'Okuda', Arial, sans-serif;
    text-transform: capitalize;
    font-variant: small-caps;
    font-style: italic;
    margin: 0;
    padding: .25rem .5rem;
}

header h2.wordmark {
    background-color: #FFFFFF;
    background-image: url("../images/startreklogo.png");
    background-repeat: no-repeat;
    height: 113px;
    width: 113px;
    padding: 0;
    text-indent: -3000px;
}

/* ----------------------------- */

/* -----------------------------
   Styles for header primary nav
   ----------------------------- */
header {
    background-color: var(--tng-gold);
    color: #000000;
    margin: 0;
    padding: 0;
}

header a {
    color: var(--tng-blue);
    text-decoration: none;
    text-decoration-color: #FFFFFF;
}

header a:hover {
    color: var(--tng-blue);
    text-decoration: underline;
}

header nav {
    text-align: right;
}

/* ----------------------------- */

/* -----------------------------
Styles for header primary nav
----------------------------- */
header nav.primary {
    font-weight: bold;
}

header nav.primary ul li {
    display: inline;
    padding-left: 0;
}

header nav.primary ul li a::after {
    content: " | ";
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

header nav.primary ul li:nth-last-child(2) a::after,
header nav.primary ul li:last-child a::after {
    content: "";
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

header nav.primary ul li:last-child a {
    color: #FFFFFF;
}

header nav.primary ul li:last-child {
    background-color: var(--tng-gold);
    color: #FFFFFF;
    padding: 10px;
    margin: 5px; 
    border: 2px solid var(--tng-gold);
    display: inline-block;
}

/* ----------------------------- */

/* -----------------------------
Styles for header secondary nav
----------------------------- */
header nav.secondary {
    font-weight: bold;
    margin-top: -100px;
}

header nav.secondary a {
    color: #4D84C4;
}

header nav.secondary ul li {
    display: inline;
    padding-left: 0;
}

header nav.secondary ul li a::after {
    content: "  ";
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

header nav.secondary ul li:last-child a::after {
    content: "";
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

header nav.secondary ul li:last-child {
    border: 2px solid #4D84C4;
    padding: 10px;
    margin: 5px; 
}

/* ----------------------------- */

/* -----------------------------
   Styles for Blogs area (index.html)
   ----------------------------- */
main {
    font-family: 'Roboto', Arial, sans-serif;
    color: #FFFFFF;
}

.main-page {
    height: 1380px;
    padding: 0;
    width: 100%;
    max-width: 1350px;
    box-sizing: border-box;
    background-color: #EBEBEB;
}

.blogs {
    display: flex;
    flex-wrap: wrap;
    background-image: url("../images/space.jpg");
    background-repeat: no-repeat;
    height: 1050px;
    justify-content: space-between;
}

.sections {
    font-family: 'Okuda', Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

section {
    background-color: #FFFFFF;
    color: var(--tng-gold);
    flex: 1 1 30%;
    margin: 10px;
    margin-top: -450px;
    padding: 10px;
    box-sizing: border-box;
    max-width: calc(33.33% - 20px);
    max-height: 500px;
    border-top: 6px solid var(--tng-red);
}

section h2 {
    background-color: #EBEBEB;
    color: #000000;
    margin: -10px;
    padding: 10px;
}

section a {
    color: var(--tng-blue);
    text-decoration: none;
    text-decoration-color: #FFFFFF;
    padding-right: 15px;
    font-weight: bold;
}

section img {
    flex: 1;
    max-width: 100px;
    margin-top: 20px;
}

section ul {
    margin-top: -150px;
    margin-left: 110px;
}

section ul li {
    list-style-type: none;
    padding-top: 10px;
}

section ul li:nth-child(1)::before {
    padding-right: 10px;
    content: url('../images/starfleet_icon.jpg');
}

section ul li:nth-child(2)::before {
    padding-right: 10px;
    content: url('../images/ship_icon.jpg');
}

.blog-entries-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 70px;
    color: var(--tng-red);
}

.blog-entries-table th, .blog-entries-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.blog-entries-table th {
    background-color: #f2f2f2;
    color: #333;
}


/* ----------------------------- */

/* -----------------------------
   Styles for Characters area (index.html)
   ----------------------------- */

.characters {
    color: #000000;
    background-color: #EBEBEB;
    margin-top: -400px;
}

.characters h2 {
    text-align: center;
}

.characters p {
    padding-left: 50px;
    padding-right: 50px;
}

.articles {
    font-family: 'Okuda', Arial, sans-serif;
    color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFFFFF;
    height: 600px;
    max-width: 1350px;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
}

.articles article {
    flex: 1;
    padding: 10px;
    margin: 10px;
    max-width: calc(33.33% - 20px);
    height: 650px;
    box-sizing: border-box;
}

.articles img {
    width: 100%;
}

.articles p {
    padding: 0;
    padding-top: 10px;
    margin: 0;
}

article ul {
    padding: 0;
    padding-left: 10px;
    margin: 0;
}

article ul li {
    list-style-type: none;
}

article ul li:nth-child(1)::before {
    padding-right: 10px;
    content: url('../images/title_icon.png');
    width: 22px;
    height: 22px;
}

article ul li:nth-child(2)::before {
    padding-right: 10px;
    content: url('../images/address_icon.png');
    width: 22px;
    height: 22px;
}

article ul li:nth-child(3)::before {
    padding-right: 10px;
    content: url('../images/fact_icon.png');
    width: 22px;
    height: 22px;
}

article ul li:nth-child(4)::before {
    padding-right: 10px;
    content: url('../images/quote_icon.png');
    width: 22px;
    height: 22px;
}

/* ----------------------------- */

/* -----------------------------
   Styles for "Add Blog" (add_blog.html)
   ----------------------------- */
.main-add-blog {
    height: 480px;
    padding: 0;
    width: 100%;
    max-width: 1350px;
    box-sizing: border-box;
    background-color: #EBEBEB;
}

.explore-add-blog {
    display: flex;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    height: 400px;
    justify-content: space-between;
}


/* ----------------------------- */

/* -----------------------------
   Styles for Add Blog form
   ----------------------------- */

.form-container-add-blog {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    max-width: 600px;
    color: #FFFFFF;
    background-color: var(--tng-red);
}

.form-group-add-blog {
    margin-bottom: 15px;
}

.form-group-add-blog label {
    display: block;
    margin-bottom: 5px;
}

.form-group-add-blog input, .form-group-add-blog select, .form-group-add-blog textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group-add-blog textarea {
    resize: vertical;
}

.submit-btn-add-blog {
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-btn-add-blog:hover {
    background-color: #0056b3;
}

/* ----------------------------- */

/* -----------------------------
   Styles for "Add Entry" (add_entry.html)
   ----------------------------- */
.main-add-entry {
    height: 530px;
    padding: 0;
    width: 100%;
    max-width: 1350px;
    box-sizing: border-box;
    background-color: #EBEBEB;
}

.explore-add-entry {
    display: flex;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    height: 450px;
    justify-content: space-between;
}


/* ----------------------------- */

/* -----------------------------
   Styles for Add Entry form
   ----------------------------- */

.form-container-add-entry {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    max-width: 600px;
    color: #FFFFFF;
    background-color: var(--tng-red);
}

.form-group-add-entry {
    margin-bottom: 15px;
}

.form-group-add-entry label {
    display: block;
    margin-bottom: 5px;
}

.form-group-add-entry input, .form-group-add-entry select, .form-group-add-entry textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group-add-entry textarea {
    resize: vertical;
}

.submit-btn-add-entry {
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-btn-add-entry:hover {
    background-color: #0056b3;
}

/* -----------------------------
   Styles for "Add Character" (add_character.html)
   ----------------------------- */
.main-add-character {
    height: 700px;
    padding: 0;
    width: 100%;
    max-width: 1350px;
    box-sizing: border-box;
    background-color: #EBEBEB;
}

.explore-add-character {
    display: flex;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    height: 680px;
    justify-content: space-between;
}


/* ----------------------------- */

/* -----------------------------
   Styles for Add Character form
   ----------------------------- */

.form-container-add-character {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    max-width: 600px;
    color: #FFFFFF;
    background-color: var(--tng-red);
}

.form-group-add-character {
    margin-bottom: 15px;
}

.form-group-add-character label {
    display: block;
    margin-bottom: 5px;
}

.form-group-add-character input, .form-group-add-character select, .form-group-add-character textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group-add-character textarea {
    resize: vertical;
}

.submit-btn-add-character {
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-btn-add-character:hover {
    background-color: #0056b3;
}

/* ----------------------------- */

/* -----------------------------
   Styles for footer
   ----------------------------- */
footer {
    background-color: #000000;
    color: #FFFFFF;
    margin: 10px;
    padding: 10px;
}

footer a {
    color: #FFFFFF;
    text-decoration: none;
    text-decoration-color: #FFFFFF;
}

footer a:hover {
    text-decoration: underline;
}

footer nav.contactplus,
footer nav.privacyplus {
    font-weight: bold;
}

footer p {
    margin-left: 2.5rem;
    margin-bottom: 0rem;
}

footer nav.contactplus ul li,
footer nav.privacyplus ul li {
    display: inline;
    padding-left: 0;
}

footer nav.contactplus ul li a::after {
    content: "  ";
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

footer nav.privacyplus ul li a::after {
    content: " | ";
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

footer nav.contactplus ul li:last-child a::after,
footer nav.privacyplus ul li:last-child a::after {
    content: "";
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

/* ----------------------------- */
