/* -----------------------------
   colors used
   -----------------------------
    #000000
    #020203
    #4d84c4
    #a51c30
    #f5f5f8
    #ebebeb
    #ffffff
    
    You can see the color palette (minus the white and black) at: 
    https://coolors.co/a51c30-4d84c4-020203-ebebeb-f5f5f8
*/

:root {
    /* Colors of Star Trek - The Next Generation */
    --tng-gold: #FFD700;
    --tng-blue: #1E90FF;
    --tng-red: #8B0000;
}


/* -----------------------------
   fonts used
   -----------------------------
Note that Roboto and "Roboto Condensed" are available from the linked fonts already in the HTML

font-family stack for most things:
    Roboto, Arial, sans-serif;

font-family stack for 'condensed' elements, such as hX headings, header navigation, and links in the 'Explore'  section:
    'Okuda', Arial, sans-serif;
   -----------------------------  */

body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* -----------------------------
   Styles for header
   ----------------------------- */

header h2 {
    color: #FFFFFF;
    background-color: var(--tng-red);
    font-family: 'Okuda', Arial, sans-serif;
    text-transform: capitalize;
    font-variant: small-caps;
    font-style: italic;
    margin: 0;
    padding: .25rem .5rem;
}

header h2.wordmark {
    background-color: #FFFFFF;
    background-image: url("../images/startreklogo.png");
    background-repeat: no-repeat;
    height: 113px;
    width: 113px;
    padding: 0;
    text-indent: -3000px;
}

/* ----------------------------- */

/* -----------------------------
   Styles for header primary nav
   ----------------------------- */
header {
    background-color: var(--tng-gold);
    color: #000000;
    margin: 0;
    padding: 0;
}

header a {
    color: var(--tng-blue);
    text-decoration: none;
    text-decoration-color: #FFFFFF;
}

header a:hover {
    color: var(--tng-blue);
    text-decoration: underline;
}

header nav {
    text-align: right;
}

/* ----------------------------- */

/* -----------------------------
Styles for header primary nav
----------------------------- */
header nav.primary {
    font-weight: bold;
}

header nav.primary ul li {
    display: inline;
    padding-left: 0;
}

header nav.primary ul li a::after {
    content: " | ";
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

header nav.primary ul li:nth-last-child(2) a::after,
header nav.primary ul li:last-child a::after {
    content: "";
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

header nav.primary ul li:last-child a {
    color: #FFFFFF;
}

header nav.primary ul li:last-child {
    background-color: var(--tng-gold);
    color: #FFFFFF;
    padding: 10px;
    margin: 5px; 
    border: 2px solid var(--tng-gold);
    display: inline-block;
}

/* ----------------------------- */

/* -----------------------------
Styles for header secondary nav
----------------------------- */
header nav.secondary {
    font-weight: bold;
    margin-top: -100px;
}

header nav.secondary a {
    color: #4D84C4;
}

header nav.secondary ul li {
    display: inline;
    padding-left: 0;
}

header nav.secondary ul li a::after {
    content: "  ";
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

header nav.secondary ul li:last-child a::after {
    content: "";
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

header nav.secondary ul li:last-child {
    border: 2px solid #4D84C4;
    padding: 10px;
    margin: 5px; 
}

/* ----------------------------- */

/* -----------------------------
   Styles for "Explore"
   ----------------------------- */
main {
    font-family: 'Roboto', Arial, sans-serif;
    color: #FFFFFF;
    height: 680px;
    padding: 0;
    width: 100%;
    max-width: 1350px;
    box-sizing: border-box;
    background-color: #EBEBEB;
}

.explore {
    display: flex;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    height: 580px;
    justify-content: space-between;
}


/* ----------------------------- */

/* -----------------------------
   Styles for Add Character form
   ----------------------------- */

.form-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 600px;
    color: #FFFFFF;
    background-color: var(--tng-red);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input, .form-group select, .form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group textarea {
    resize: vertical;
}

.submit-btn {
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #0056b3;
}

/* ----------------------------- */

/* -----------------------------
   Styles for footer
   ----------------------------- */
footer {
    background-color: #000000;
    color: #FFFFFF;
    margin: 10px;
    padding: 10px;
}

footer a {
    color: #FFFFFF;
    text-decoration: none;
    text-decoration-color: #FFFFFF;
}

footer a:hover {
    text-decoration: underline;
}

footer nav.contactplus,
footer nav.privacyplus {
    font-weight: bold;
}

footer p {
    margin-left: 2.5rem;
    margin-bottom: 0rem;
}

footer nav.contactplus ul li,
footer nav.privacyplus ul li {
    display: inline;
    padding-left: 0;
}

footer nav.contactplus ul li a::after {
    content: "  ";
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

footer nav.privacyplus ul li a::after {
    content: " | ";
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

footer nav.contactplus ul li:last-child a::after,
footer nav.privacyplus ul li:last-child a::after {
    content: "";
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

/* ----------------------------- */
